body{
  background-color: #00ff11;  
}
h1{
    color: rgb(38,0,255);
    background-color: cornsilk;
}
#show_sketch{
    float: right;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example{
from {box-shadow: 3px 3px 38px black}
to {box-shadow: 3px 3px 38px red}
}
p
{
padding-top: 10px;
font-size: 25px;
}